@font-face {
  font-family: "Museo";
  src: url("../fonts/Museo-Sans/1b4cd06b44538d529084b3599f708643.eot"); /* IE9*/
  src: url("../fonts/Museo-Sans/1b4cd06b44538d529084b3599f708643.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/Museo-Sans/1b4cd06b44538d529084b3599f708643.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/Museo-Sans/1b4cd06b44538d529084b3599f708643.woff") format("woff"), /* chrome、firefox */
  url("../fonts/Museo-Sans/1b4cd06b44538d529084b3599f708643.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/Museo-Sans/1b4cd06b44538d529084b3599f708643.svg#Museo Sans W01 Rounded 300") format("svg"); /* iOS 4.1- */
}