@import "theme";
@import "fonts";
@import "mixins";

@include generateHFontSize;
* {
  @include boxing-size;
}
body {
  font-family: $font-family;
  font-size:$body-font-size;
  color: $gray-light;
}
a {
  text-decoration: none;
}
hr {
  border: none;
  border-bottom: 1px solid $hr-color;
}
.clear {
  clear: both;
}
.container {
  margin: 0 auto;
  position: relative;
  width:1200px;
  padding:0 15px;
  &:before , li:before {
    display: table;
    content: " ";
  }
  &:after , li:after {
    clear: both;
    display: table;
    content: " ";
  }
}
.section {
  display: block;
}
.no-margin {
  margin:0;
}
.np-margin-auto {
  margin:0 auto;
}
.no-padding {
  padding: 0 ;
}
.float-left {
  float: left;
}
.float-right {
  float:right;
}
.text-center {
  text-align: center;
}
.image-center {
  & > img {
    margin: 0 auto;
    display: block;
  }
}
.small-text {
  font-size: 18px;
  line-height:1.5;
}
.bold-text {
  font-weight: bold;
}
/**************** body with some helper class *********/
body.has-scroll {
  #header {
    background-color: $white !important;
    height:70px;
    padding:0;
    -webkit-box-shadow: 0px -5px 20px rgba(0,0,0,.5);
    -moz-box-shadow: 0px -5px 20px rgba(0,0,0,.5);
    box-shadow: 0px -5px 20px rgba(0,0,0,.5);
  }
  #primary-menu {
    a {
      color: $gray;
    }
  }
  #logo {
    max-width:200px;
    margin-top: 13px;
  }
}

/**************** header ********/
#header {
  padding:15px 0;
  height:96px;
  position: fixed;
  z-index:2;
  width:100%;
  @include transition(all .2s ease-in-out);
}
.responsive-image {
  max-width: 100%;
  height: auto;
}
#logo {
  float: left;
  max-width: 300px;
  @include transition(all .2s ease-in-out);
}
#primary-menu {
  float: right;
  font-size:$font-size-14;
  ul {
    padding:0;
    float: left;
    margin: 15px 0 0;
    li {
      float: left;
      list-style: none;
      a {
        color: $white;
        text-transform: uppercase;
        float: left;
        padding:10px 15px;
        &.btn {
          margin-top:-1px;
        }
      }
    }
  }
}

/*********** slider **************/
#slider {
  height:100vh;
  background: url("../images/slide-image.png") no-repeat scroll center top;
  background-size:cover;
  .slider-content {
    clear: both;
    text-align: center;
    width:60%;
    margin: 200px auto;
    line-height:1.4;
    * {
       color: $white;
     }
  }
  width:100%;
  overflow: hidden;
}
/********* Events **************/
#events {
  padding: 30px 0 0;
  .container {
    & > div {
      width:50%;
      padding:$padding 0;
      float: left;
    }
  }
  h6 {
    margin-right:10px;
    color: $blue;
  }
  .date {
    font-size: $body-font-size - 5;
    font-weight: bold;
  }
  .event-description {
    font-size:$body-font-size - 4;
  }
}

/************ collaborate ********/

#collaborate-list {
  padding:0;
  margin:0;
  display: table;
  li {
   list-style: none;
    float: left;
    width:100/3 * 1%;
    .collaborate-title {
      margin:10px 0;
    }
    .collaborate-desc {
      padding:10px;
      @extend .small-text;
    }
    .collaborate-image {
      width:230px;
      margin:0 auto;
    }
    .btn {
      margin-bottom: 30px;
    }
  }
}
/********* our mission *********/
#our-mission {
  p:first-of-type {
    color: #55565c;
  }
  #missions-list {
    list-style: none;
    padding:0;
    & > li {
      width: 100/3 *1%;
      float: left;
      padding: 10px;
    }
    .mission {
      background-color: $white;
      @include border-radius(8px);
      padding: $padding;
      margin-bottom:$padding;
      margin-top:50px;
      //position: relative;
      @extend .image-center;

      & > .mission-icon {
        background-color: $blue;
        @include border-radius(100%);
        border:10px solid $white;
        width:120px;
        height:120px;
        margin-top:-70px;
      }
      & > .mission-title {
        margin:10px 0 0;
        color: $blue;
      }
    }
  }

}
/********* members-list *******/
#members-list {
  list-style: none;
  padding:0;
}
/******** blog-list *******/
#blog-list {
  padding:0;
  li {
    margin:0;
    float: left;
    list-style: none;
    & > div {
      margin:20px 10px;
    }
    a {
      color: $blue;
    }
    h6 {
      margin:10px;
    }
    .post-excerpt {
      @extend .small-text;
    }
    .post-date {
      @extend .small-text;
      font-size:14px;
    }
  }
  .owl-nav {
    position: absolute;
    top:40%;
    width:100%;
    & > div {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 0;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: $blue;
      &:hover {
        color: $blue-light;
      }
    }
    .owl-prev {
      float: left;
      margin-left: -30px;
      background-color: transparent;
      &:before {
        content: "\f053"; // prev icon
        font-size:15px;
      }
    }
    .owl-next {
      float: right;
      margin-right: -30px;
      background-color: transparent;
      &:before {
        content: "\f054"; // next icon
        font-size:15px;
      }
    }
  }
}
/******** buttons *************/
.btn {
  padding:10px 20px;
  border:1px solid $blue;
  display: inline-block;
  &.reverse , &:hover {
    border:1px solid transparent;
  }
}

/*********** generic styles ********/
.upper-case {
  text-transform: uppercase !important;
}
.capital-case {
  text-transform: capitalize !important;
}
.lower-case {
  text-transform: lowercase !important;
}
