@import "theme";
@import "fonts";
@import "mixins";

@include generateHFontSize;
* {
  @include boxing-size;
}
body {
  font-family: $font-family;
  font-size:$body-font-size;
}
.clear {
  clear: both;
}
.container {
  margin: 0 auto;
  position: relative;
  width:100%;
  padding:0 15px;
}
.section {
  display: block;
}
/**************** body with some helper class *********/
body.has-scroll {
  #header {
    background-color: $white !important;
    height:70px;
    padding:0;
  }
  #primary-menu {
    a {
      color: $gray;
    }
  }
  #logo {
    max-width:200px;
    margin-top: 13px;
  }
}

/**************** header ********/
#header {
  padding:15px 0;
  height:96px;
  position: fixed;
  z-index:2;
  width:100%;
  @include transition(all .2s ease-in-out);
}
.responsive-image {
  max-width: 100%;
  height: auto;
}
#logo {
  float: left;
  max-width: 300px;
  @include transition(all .2s ease-in-out);
}
#primary-menu {
  float: right;
  font-size:$font-size-14;
  ul {
    padding:0;
    float: left;
    margin: 15px 0 0;
    li {
      float: left;
      list-style: none;
      a {
        text-decoration: none;
        color: $white;
        text-transform: uppercase;
        float: left;
        padding:10px 15px;
        &.btn {
          margin-top:-1px;
        }
      }
    }
  }
}

/*********** slider **************/
#slider {
  height:100vh;
  background: url("../images/slide-image.png") no-repeat scroll center top;
  background-size:cover;
  .slider-content {
    clear: both;
    text-align: center;
    width:60%;
    margin: 200px auto;
    line-height:1.4;
    * {
       color: $white;
     }
  }
  width:100%;
  overflow: hidden;
}

/******** buttons *************/
.btn {
  padding:10px 20px;
  border:1px solid $blue;
  &.reverse {
    border:1px solid $white;
  }
}

/*********** generic styles ********/
.upper-case {
  text-transform: uppercase !important;
}
.capital-case {
  text-transform: capitalize !important;
}
.lower-case {
  text-transform: lowercase !important;
}
